{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Home - Popo PowerPanel " %}{% endblock %}
{% block content %}
{% load static %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->

    <div class="container">
        <div id="page-title">
            <h2 class="text-gray-1100 font-bold text-xl">{% trans "Dash Board" %}</h2>
            <p class="pt-3">
                <span class="text font-bold text-3xl">{% trans "Welcome to" %}</span> <span class="text-orange-500 font-4xl font-extrabold" style="font-size: large;">MadPopo</span> <span class="text font-bold text-3xl">Dashboard</span>
            </p>
        </div>
        {% if admin %}

        <div ng-controller="homePageStatus" class="" style="margin-left: 10px; font-size:30px; font-weight:500">
            <div class="mx-0" style="padding: 0px !important;">
                <span class="content-box-header" style="font-size: 22px; font-weight:200; height: 75px;" >
                    {% trans "Resources" %}
                </span>
        
                <div class="col-md-12" style="padding-bottom: 20px; display:flex">
                    
                        <div class="col-md-4">
                            <div class="box">
                                <div class="rectangle-wrapper">
                                    
                                  <div class="rectangle" >
                                    
                                    <h3 class="resource-heading">
                                    {% trans "&nbsp;&nbsp;&nbsp;&nbsp;CPU Usage" %}
                                </h3>
                                <img class="cpu-img" src="https://generation-sessions.s3.amazonaws.com/f2610a6a5d447429defe5f026c03f265/img/cpu-1.png" alt="" style="height: 35%; width:18%;">
                                
                                <div class="content-box-wrapper">
                                    <!-- <div class="row"> -->
                                        <!-- <div class=""> -->
                                            
                                                <span class="resource-percent">{$ cpuUsage $}%</span>
                                                
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        </div>
                                        <img class="cpu-vector" src="https://generation-sessions.s3.amazonaws.com/f2610a6a5d447429defe5f026c03f265/img/teal-2@2x.png" alt="">
                                    </div>
                                </div>  
                                    </div>
                                </div>
                            </div>
                    
                    
                      
        
                        <div class="col-md-4">
                            <div class="box">
                                <div class="rectangle-wrapper">
                                    
                                  <div class="rectangle" >
                                    
                                    <h3 class="resource-heading">
                                    {% trans "&nbsp;&nbsp;&nbsp;&nbsp;RAM Usage" %}
                                </h3>
                                <img class="cpu-img" src="https://generation-sessions.s3.amazonaws.com/f2610a6a5d447429defe5f026c03f265/img/server-1.gif" alt="" style="height: 35%; width:18%;">
                                
                                <div class="content-box-wrapper">
                                    <!-- <div class="row"> -->
                                        <!-- <div class=""> -->
                                            
                                                <span class="resource-percent">{$ ramUsage $}%</span>
                                                
                                                <div class="slice">
                                                    <div class="bar"></div>
                                                    <div class="fill"></div>
                                                <!-- </div> -->
                                            <!-- </div> -->
                                        </div>
                                        <img class="cpu-vector" src="https://generation-sessions.s3.amazonaws.com/f2610a6a5d447429defe5f026c03f265/img/teal-2@2x.png" alt="">
                                    </div>
                                </div>  
                                    </div>
                                </div>
                            </div>
        
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="rectangle-wrapper">
                                        
                                      <div class="rectangle" >
                                        
                                        <h3 class="resource-heading">
                                        {% trans "&nbsp;&nbsp;&nbsp;&nbsp;Disk Usage" %}
                                    </h3>
                                    <img class="cpu-img" src="https://generation-sessions.s3.amazonaws.com/f2610a6a5d447429defe5f026c03f265/img/pie-chart-1.gif" alt="" style="height: 35%; width:18%;">
                                    
                                    <div class="content-box-wrapper">
                                        <!-- <div class="row"> -->
                                            <!-- <div class=""> -->
                                                
                                                    <span class="resource-percent">{$ diskUsage $}%</span>
                                                    
                                                    <div class="slice">
                                                        <div class="bar"></div>
                                                        <div class="fill"></div>
                                                    <!-- </div> -->
                                                <!-- </div> -->
                                            </div>
                                            <img class="cpu-vector" src="https://generation-sessions.s3.amazonaws.com/f2610a6a5d447429defe5f026c03f265/img/teal-2@2x.png" alt="">
                                        </div>
                                    </div>  
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
            </div>
        
        
        
        {% endif %}

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <div ng-controller="listWebsites" class="container" style="margin-top: 10%;">

        <div id="page-title" class="page-title" style="margin-bottom: 2%;">
            <h2 id="domainNamePage">{% trans "List Websites" %}</h2>
            <p style="margin-bottom: 2%;">{% trans "On this page you can launch, list, modify and delete websites from your server." %}</p>
            <img ng-hide="cyberPanelLoading" src="{% static 'images/loading.gif' %}">
            <a class="pull-right btn btn-primary web-btn" style="margin-left: 1%;" href="{% url "listChildDomains" %}">{% trans "List SubDomain" %}</a>
            <a class="pull-right btn btn-primary web-btn" style="margin-left: 1%;" href="{% url "CreateNewDomain" %}">{% trans "Create SubDomain" %}</a>
            <a class="pull-right btn btn-primary web-btn" style="margin-left: 1%;" href="{% url "createWebsite" %}">{% trans "Create Website" %}</a>
            <a class="pull-right btn btn-primary web-btn" style="margin-left: 1%;" href="{% url "deleteWebsite" %}">{% trans "Delete Website" %}</a>
            <a class="pull-right btn btn-primary web-btn" style="margin-left: -2%;"  href="{% url "modifyWebsite" %}">{% trans "Modify Website" %}</a>
            
            
            
        </div>

        <div class="col-sm-10" style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888; margin-bottom: 2%; margin-top:2%">
            <input ng-change="searchWebsites()" placeholder="Search..." ng-model="patternAdded" name="dom" type="text"
                   class="form-control" required>
        </div>

        <div class="col-sm-2" style="margin-bottom: 2%;margin-top:2%">
            <div class="form-group">
                <select ng-model="recordsToShow" ng-change="getFurtherWebsitesFromDB()"
                        class="form-control" id="example-select">
                    <option>10</option>
                    <option>50</option>
                    <option>100</option>
                </select>
            </div>
        </div>



        <div class="list-web col-md-12">
            
            <div class="col-md-3 content-box-header">
                <h4 class="header font-bold">Websites</h4>
            </div>
            <div class="col-md-1 content-box-header">
                <h4 class="header font-bold">Status</h4>
            </div>
            <div class="col-md-2 content-box-header">
                <h4 class="header font-bold">IP Address</h4>
            </div>
            <div class="col-md-2 content-box-header">
                <h4 class="header font-bold">Disk Usage</h4>
            </div>
            <div class="col-md-2 content-box-header">
                <h4 class="header font-bold font-bold">Owner</h4>
            </div>
            <div class="col-md-1 content-box-header">
                <h4 class="header font-bold font-bold">Files</h4>
            </div>
            <div class="col-md-1 content-box-header">
                <h4 class="header font-bold">Manage</h4>
            </div>
        </div>
    
        <div ng-repeat="web in WebSitesList track by $index" class="panel col-md-12 web-data"
             style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;">
            <div class="">
                <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">

                    <!--<div style="border-bottom: 1px solid #888888" class="col-md-12">
                        <div class="col-lg-10 content-box-header" style="text-transform: none;">
                           <a href="http://{$ web.domain $}" target="_blank" title="Visit Site">
                                <h2 style="display: inline; color: #414C59;" ng-bind="web.domain"></h2>
                            </a> 
                            <a target="_self" href="/filemanager/{$ web.domain $}" title="Open File Manager"> --
                                {% trans "File Manager" %}</a>
                        </div>
                        <div class="col-md-2 content-box-header" style="text-transform: none;">
                            <a href="/websites/{$ web.domain $}" target="_self" title="Manage Website">
                                <i class="p fa fa-external-link btn-icon">&emsp;</i>
                                <span>{% trans "Manage" %}</span>
                            </a>
                        </div>
                    </div>-->
                    
                    

                    <div class="col-md-12">
                        <div class="col-md-3 content-box-header">
                            <a href="http://{$ web.domain $}" target="_blank" title="Visit Site">
                                <h2 style="display: inline; color: #414C59;margin-left:3%" ng-bind="web.domain"></h2>
                            </a>
                        </div>
                        <div class="col-md-1 content-box-header">
                            <i class="web-icon p fa fa-sticky-note btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right" title="State">&emsp;</i>
                            <span ng-bind="web.state" style="text-transform: none"></span>
                        </div>
                        <div class="col-md-2 content-box-header">
                            <i class="web-icon p fa fa-map-marker btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right" title="IP Address">&emsp;</i>
                            <span ng-bind="web.ipAddress"></span>
                        </div>
                        <!-- <div class="col-md-2 content-box-header">
                            <i class="p fa fa-lock btn-icon text-muted" data-toggle="tooltip" data-placement="right"
                               title="SSL">&emsp;</i>
                            <span><a ng-click="issueSSL(web.domain)" href=""
                                     style="text-transform: none">{% trans "Issue SSL" %}</a></span>
                        </div> -->
                    

                    
                        <div class="col-md-2 content-box-header">
                            <i class="web-icon p fa fa-hdd-o btn-icon text-muted" data-toggle="tooltip"
                               data-placement="right"
                               title="Disk Usage">&emsp;</i>
                            <span ng-bind="web.diskUsed" style="text-transform: none"></span>
                        </div>
                        
                        <div class="col-md-2 content-box-header">
                            <i class="web-icon p fa fa-user btn-icon text-muted" data-toggle="tooltip" data-placement="right"
                               title="Owner">&emsp;</i>
                            <span ng-bind="web.admin" style="text-transform: none"></span>
                        </div>
                        <div class="col-md-1 content-box-header">
                        <a target="_self" href="/filemanager/{$ web.domain $}" title="Open File Manager"><i class="p fa fa-file btn-icon text-muted" data-toggle="tooltip" data-placement="right" title="File Manager"></i></a>
                        </div>
                        <div class="col-md-1 content-box-header">
                            <a href="/websites/{$ web.domain $}" target="_self" title="Manage Website">
                                <i class="web-icon p fa fa-cog btn-icon text-muted" data-toggle="tooltip" data-placement="right" title="Manage"></i>

                                
                            </a>
                        </div>
                        
                    </div>

                        <!--table cellpadding="0" cellspacing="0" border="0" class="table" style="margin:0px 0px; id="datatable-example">
                    <thead>
                    <tr>
                        <th>IP Address</th>
                        <th>Package</th>
                        <th>Owner</th>
                        <th>State</th>
                        <th>Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-bind="web.ipAddress"></td>
                        <td ng-bind="web.package"></td>
                        <td ng-bind="web.admin"></td>
                        <td ng-bind="web.state"></td>
                        <td ng-bind="web.adminEmail"></td>
                    </tr>

                    </tbody>
                    </table-->

                    <div id="listFail" class="alert alert-danger">
                        <p>{% trans "Cannot list websites. Error message:" %} {$ errorMessage $}</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: 6%" class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-9">
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <select ng-model="currentPage" class="form-control"
                                    ng-change="getFurtherWebsitesFromDB()">
                                <option ng-repeat="page in pagination">{$ $index + 1 $}</option>
                            </select>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div>
        </div>
    </div>
</div>


{% endblock %}
