{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Create Incremental Backup" %}{% endblock %}
{% block content %}

    {% load static %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->

    <div class="container"></div>

        <div id="page-title">
            <h2>{% trans "Backup Website" %} - <a target="_blank" href="https://cyberpanel.net/docs/2-create-restore-incremental-backups/"
                                                   style="height: 23px;line-height: 21px;"
                                                   class="btn btn-border btn-alt border-red btn-link font-red" title=""><span>{% trans "Backup Docs" %}</span></a>
            </h2>
            <p>{% trans "divis page can be used to create incremental backups for your websites." %}</p>
        </div>

        <div ng-controller="createIncrementalBackups" class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    {% trans "Backup Website" %} <img ng-hide="cyberpanelLoading"
                                                       src="{% static 'images/loading.gif' %}">
                </h3>
                <div class="example-box-wrapper">


                    <form action="/" class="form-horizontal bordered-row">


                        <div class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Select Website" %} </label>
                            <div class="col-sm-6">
                                <select ng-change="fetchDetails()" ng-model="websiteToBeBacked" class="form-control">
                                    {% for items in websiteList %}
                                        <option>{{ items }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div ng-hide="destination" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Destination" %}</label>
                            <div class="col-sm-6">
                                <select ng-change="destinationSelection()" ng-model="backupDestinations"
                                        class="form-control">
                                    {% for items in destinations %}
                                        <option>{{ items }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div ng-hide="destination" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Backup Content" %}</label>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="websiteData" type="checkbox" value="">
                                        Data
                                    </label>
                                </div>
                            </div>
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="websiteDatabases" type="checkbox" value="">
                                        Databases
                                    </label>
                                </div>
                            </div>
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="websiteEmails" type="checkbox" value="">
                                        Emails
                                    </label>
                                </div>
                            </div>
                            <!---
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-9">
                                <div class="checkbox">
                                    <label>
                                        <input ng-model="websiteSSLs" type="checkbox" value="">
                                        SSL Certificates
                                    </label>
                                </div>
                            </div> -->
                        </div>



                        <div ng-hide="runningBackup" class="form-group">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <textarea ng-model="status" class="form-control" rows="10"></textarea>
                                </div>
                            </div>
                        </div>



                        <div ng-hide="backupButton" class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <button type="button" ng-click="createBackup()"
                                        class="btn btn-primary btn-lg btn-block">{% trans "Create Backup" %}</button>
                            </div>
                        </div>

                    </div>
                </div>


                        <div class="form-group">

                            <div class="col-md-12 mb-4 mt-5 list-database">

                                
                                    
                                        <div class="col-md-3 content-box-header" id="backup-data">{% trans "ID" %}</div>
                                        <div class="col-md-3 content-box-header" id="backup-data"> {% trans "Date" %}</div>
                                        <div class="col-md-3 content-box-header" id="backup-data">{% trans "Restore" %}</div>
                                        <div class="col-md-3 content-box-header" id="backup-data">{% trans "Delete" %}</div>
                            </div>
                                   
                                   
                                    <div ng-repeat="record in records track by $index" class="panel col-md-12"
                                    style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;" >
                                        <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;"> 
                                         <div class="col-md-12">

                                        <div class="col-md-3 content-box-header" id="backup-data" ng-bind="record.id"></div>
                                        <div class="col-md-3 content-box-header" id="backup-data" ng-bind="record.date"></div>
                                        <div>
                                            <a class="col-md-3 content-box-header" id="backup-data" ng-click="restore(record.id)" data-toggle="modal" data-target="#settings"
                                               ng-click='deleteCLPackage()'
                                               class="btn btn-border btn-alt border-green btn-link font-green"
                                               title=""><span id="backup-data">Restore Points</span></a>
                                            <div id="settings" class="modal fade" role="dialog">
                                                <div class="modal-dialog modal-lg">

                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title">Restore Points
                                                                <img ng-hide="cyberpanelLoading"
                                                       src="{% static 'images/loading.gif' %}">
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <div class="col-md-12 mt-6 mb-3">
                                                                    <div class="col-md-2 content-box-header" id="backup-data">{% trans "Job ID" %}</div>
                                                                    <div class="col-md-2 content-box-header" id="backup-data">{% trans "Snapshot ID" %}</div>
                                                                    <div class="col-md-2 content-box-header" id="backup-data">{% trans "Type" %}</div>
                                                                    <div class="col-md-4 content-box-header" id="backup-data">{% trans "Destination" %}</div>
                                                                    <div class="col-md-2 content-box-header" id="backup-data">{% trans "Action" %}</div>
                                                                </div>
                                                                
                                                                
                                                                <div ng-repeat="job in jobs track by $index" class="panel col-md-12"
                                                                style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;" >
                                                                    <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;"> 
                                                                    <div class="col-md-12">
                                                                    <div class="col-md-2 content-box-header" id="backup-data" ng-bind="job.id"></div>
                                                                    <div class="col-md-2 content-box-header" id="backup-data" ng-bind="job.snapshotid"></div>
                                                                    <div class="col-md-2 content-box-header" id="backup-data" ng-bind="job.type"></div>
                                                                    <div class="col-md-4 content-box-header" id="backup-data" ng-bind="job.destination"></div>
                                                                    <div class="col-md-2 content-box-header" id="backup-data">
                                                                        <a ng-click="restorePoint(job.id, 0)" class="btn btn-border btn-alt border-green btn-link font-green"
                                                                           title=""><span>Restore</span></a>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                        </div>
                                                            
                                                            

                                                            <div ng-hide="restoreSt" class="form-group">
                                                                <div class="col-sm-12">
                                                                    <div class="col-sm-12">
                                                                        <textarea ng-model="status"
                                                                                  class="form-control"
                                                                                  rows="7"></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" ng-disabled="savingSettings"
                                                                    class="btn btn-default" data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="" class="col-md-3 content-box-header" id="backup-data">
                                            <div id="backup-data" ng-click="deleteBackup(record.id)"><img style="display:inline-flex"
                                                    src="{% static 'images/delete.png' %}"></div>
                                        </a>
                                    
                                </div>
                        </div>
            </div>
                            



                    </form>


                </div>




{% endblock %}