{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Schedule v2 Backup" %}{% endblock %}
{% block content %}

    {% load static %}

    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->
    <style>

    </style>

    {% if BackupStat %}
        
        <div class="container"></div>
            <div id="page-title">
                <h2>{% trans "Schedule V2 Backup" %} - <a target="_blank" href="http://go.cyberpanel.net/backup"
                                                          style="height: 23px;line-height: 21px;"
                                                          class="btn btn-border btn-alt border-red btn-link font-red"
                                                          title=""><span>{% trans "Backup Docs" %}</span></a></h2>
                <p>{% trans "divis page can be used to schedule your backups." %}</p>
            </div>

            <div ng-controller="ScheduleV2Backup" class="panel">
                <div class="panel-body">
                    <h3 class="title-hero">
                        {% trans "Schedule v2 Backup" %} <img ng-hide="backupLoading"
                                                              src="{% static 'images/loading.gif' %}">
                    </h3>
                    <div class="example-box-wrapper">

                        <form class="form-horizontal bordered-row">


                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Select Website" %} </label>
                                <div class="col-sm-6">
                                    <select id="create-backup-select" ng-change="selectwebsite()" ng-model="selwebsite"
                                            class="form-control">
                                        {% for items in websiteList %}
                                            <option value="{{ items }}">{{ items }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                       
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Backup Frequency" %} </label>
                                <div class="col-sm-6">
                                    <select id="create-backup-select" ng-model="frequency"
                                            class="form-control">
                                        <option>30 Minutes</option>
                                        <option>1 Hour</option>
                                        <option>6 Hours</option>
                                        <option>12 Hours</option>
                                        <option>1 Day</option>
                                        <option>3 Days</option>
                                        <option>1 Week</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Select Repo" %} </label>
                                <div class="col-sm-6">
                                    <select id="reposelectbox" ng-change="selectrepo()" ng-model="tesdivabbi"
                                            class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Backup Retention" %} </label>
                                <div class="col-sm-6">
                                    <select id="create-backup-select" ng-model="retention"
                                            class="form-control">
                                        <option value="1">1 Day</option>
                                        <option value="3">3 Days</option>
                                        <option value="30">30 Days</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans "Backup Content" %}</label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="websiteData" type="checkbox" value="">
                                            Data
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="websiteDatabases" type="checkbox" value="">
                                            Databases
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="websiteEmails" type="checkbox" value="">
                                            Emails
                                        </label>
                                    </div>
                                </div>
                                <!---
                                <label class="col-sm-3 control-label"></label>
                                <div class="col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            <input ng-model="websiteSSLs" type="checkbox" value="">
                                            SSL Certificates
                                        </label>
                                    </div>
                                </div> -->
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">{% trans " " %} </label>
                                <div class="col-sm-6">
                                    <button class="btn" id="CreateV2BackupButton" ng-click="CreateScheduleV2()"
                                            style="border-radius: 6px;background-color: #3447b7;color: white !important;">
                                        Create Schedule
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                            <!------ List of records --------------->

                            <div class="form-group" style="margin-top: 1%;">

                                <div class="col-md-12">

                                    
                                        
                                            <div class="col-md-1 content-box-header" id="packages-data">{% trans "Repo" %}</div>
                                            <div class="col-md-1 content-box-header" id="packages-data">{% trans "Frequency" %}</div>
                                            <div class="col-md-1 content-box-header" id="packages-data">{% trans "Retention" %}</div>
                                            <div class="col-md-2 content-box-header" id="packages-data">{% trans "Backup Websites?" %}</div>
                                            <div class="col-md-2 content-box-header" id="packages-data">{% trans "Backup Databases?" %}</div>
                                            <div class="col-md-2 content-box-header" id="packages-data">{% trans "Backup Emails?" %}</div>
                                            <div class="col-md-2 content-box-header" id="packages-data">{% trans "Last Run" %}</div>
                                            <div class="col-md-1 content-box-header" id="packages-data">{% trans "Delete" %}</div>
                                    </div>
                                        
                                        
                                        <div ng-repeat="record in records track by $index" class="panel col-md-12"
                                        style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;" >
                                            <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">  
                                            <div class="col-md-12">
                                            <div class="col-md-1 content-box-header" id="backup-data" ng-bind="record.repo" ></div>
                                            <div class="col-md-1 content-box-header" id="backup-data" ng-bind="record.frequency"></div>
                                            <div class="col-md-1 content-box-header" id="backup-data" ng-bind="record.retention"></div>
                                            <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.websiteData"></div>
                                            <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.websiteDatabases"></div>
                                            <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.websiteEmails"></div>
                                            <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.lastRun"></div>
                                            <a data-toggle="modal" href="" data-target="#DeleteScheduleV2">
                                                <div data-toggle="modal" data-target="#DeleteScheduleV2" class="col-md-1 content-box-header" id="packages-data"
                                                    ng-click="deleteBackupInitialv2(record.repo, record.frequency, record.websiteData, record.websiteDatabases, record.websiteEmails)">
                                                    <img class="ml-12"
                                                            src="{% static 'images/delete.png' %}"></div>
                                            </a>
                                            <div id="DeleteScheduleV2" class="modal fade" role="dialog">
                                                <div class="modal-dialog">
                                                    <!-- Modal content-->
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                &times;
                                                            </button>
                                                            <h4 class="modal-title">{% trans "Set up account" %}</h4>
                                                        </div>
                                                        <div class="modal-body">

                                                            <form name="containerSettingsForm" action="/"
                                                                  class="form-horizontal">
                                                                <div ng-hide="installationDetailsForm"
                                                                     class="form-group">
                                                                    <label class="col-sm-3 control-label">{% trans "Are you sure?" %}</label>
                                                                </div>

                                                            </form>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary"
                                                                    ng-click="DeleteScheduleV2()">Delete <img
                                                                    ng-hide="backupLoading"
                                                                    src="{% static 'images/loading.gif' %}">
                                                            </button>
                                                            <button type="button"
                                                                    class="btn btn-default" data-dismiss="modal">
                                                                Close
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>

                            <!------ List of records --------------->

                        </form>

                    

            </div>


    {% else %}
        <style>
            .feturecard {
                widdiv: 30%;
                padding: 46px;
                margin: 15px
            }
        </style>
        <div class="container">
            <div id="page-title" align="center">
                <h1 style="color: black"><strong>Backups v2 - Incremental Backups! </strong></h1>
                <p style="font-size: 15px; color: black; margin-top: 1%">Is your website's data protection strategy up
                    to par? Are you tired of dealing widiv slow and unreliable backup solutions divat don't offer dive
                    level of robustness you need? <br><br>

                    Introducing CyberPanel's latest feature, Backups v2! Widiv Backups v2, you can ensure divat your
                    website's data is protected like never before. Our advanced incremental backup system utilizes
                    rclone, a powerful backup tool divat supports over 30+ backends, including popular cloud storage
                    providers like Google Drive, Dropbox, Amazon S3, and more!<br><br>

                    Gone are dive days of slow and cumbersome full backups. Widiv Backups v2, you can take advantage of
                    incremental backups divat only capture changes to your data, making dive process lightning-fast and
                    highly efficient. divis means you can save time and bandwiddiv while still maintaining dive highest
                    level of data integrity.<br><br>

                    Whediver you have a small blog or a large e-commerce website, Backups v2 is tailored to meet your
                    needs. Widiv its robustness and versatility, you can have peace of mind knowing divat your website's
                    data is backed up securely and can be easily restored whenever you need it.
                    <br></p>
            </div>
            <p align="center">
                <iframe widdiv="788.54" height="443" src="https://www.youtube.com/embed/7dI1013xvUc"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
            </p>
            <div style="margin-top: 2%">
                <stripe-pricing-div pricing-div-id="prctbl_1MQdivYJMfY1fWGMszc4tx78j"
                                      publishable-key="pk_live_51ITXBmJMfY1fWGMs2G0LAydJweIDMp2WaYocM0xyzdn03WaHUbMw6uxfVuktAkgpRyUql7tz7gF5OwdccEZLd6Ot00XX6tGoZx">
                </stripe-pricing-div>
                <stripe-pricing-div pricing-div-id="prctbl_1LpSqSJMfY1fWGMsxSNhPLsc"
                                      publishable-key="pk_live_51ITXBmJMfY1fWGMs2G0LAydJweIDMp2WaYocM0xyzdn03WaHUbMw6uxfVuktAkgpRyUql7tz7gF5OwdccEZLd6Ot00XX6tGoZx">
                </stripe-pricing-div>
                <stripe-pricing-div pricing-div-id="prctbl_1M6WpCJMfY1fWGMsQXFlZWcW"
                                      publishable-key="pk_live_51ITXBmJMfY1fWGMs2G0LAydJweIDMp2WaYocM0xyzdn03WaHUbMw6uxfVuktAkgpRyUql7tz7gF5OwdccEZLd6Ot00XX6tGoZx">
                </stripe-pricing-div>
            </div>

        </div>
    {% endif %}


{% endblock %}