{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Set up Backup Destinations" %}{% endblock %}
{% block content %}

    {% load static %}


    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->

    
    <div class="container"></div>
        <div id="page-title">
            <h2>{% trans "Set up Backup Destinations" %} - <a target="_blank"
                                                                           href="https://go.cyberpanel.net/remote-backup"
                                                                           style="height: 23px;line-height: 21px;"
                                                                           class="btn btn-border btn-alt border-red btn-link font-red"
                                                                           title=""><span>{% trans "Remote Backups" %}</span></a>
            </h2>
            <p>{% trans "On divis page you can set up your Backup destinations. (SFTP)" %}</p>
        </div>

        <div ng-controller="backupDestinations" class="panel">
            <div class="panel-body">
                <h3 class="title-hero">
                    {% trans "Set up Backup Destinations." %} <img ng-hide="cyberpanelLoading"
                                                                    src="{% static 'images/loading.gif' %}">
                </h3>
                <div class="example-box-wrapper">


                    <form action="/" class="form-horizontal bordered-row">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Select Type" %} </label>
                            <div class="col-sm-6">
                                <select ng-change="fetchDetails()" ng-model="destinationType" class="form-control">
                                    <option>local</option>
                                    <option>SFTP</option>
                                </select>
                            </div>
                        </div>

                        <!--- SFTP --->

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Name" %}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="name" required>
                            </div>
                        </div>

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "IP Address" %}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="IPAddress" required>
                            </div>
                        </div>

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Username" %}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="userName" required>
                            </div>
                        </div>

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Password" %}</label>
                            <div class="col-sm-6">
                                <input placeholder="" type="password" class="form-control" ng-model="password" required>
                            </div>
                        </div>

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Port" %}</label>
                            <div class="col-sm-6">
                                <input placeholder="{% trans "Backup server SSH Port, leave empty for 22." %}"
                                       type="text" class="form-control" ng-model="backupSSHPort" required>
                            </div>
                        </div>

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label">{% trans "Padiv" %}</label>
                            <div class="col-sm-6">
                                <input placeholder="Padiv on remote server to store backups." type="text" class="form-control" ng-model="padiv" required>
                            </div>
                        </div>

                        <div ng-hide="sftpHide" class="form-group">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <button type="button" ng-click="addDestination('SFTP')"
                                        class="btn btn-primary btn-lg btn-block">{% trans "Add Destination" %}</button>

                            </div>
        

                        </div>
                    </div>
                </div>
            </form>

                        <!--- SFTP --->
                    

                        <!------ List of Destinations --------------->

                        <div ng-hide="sftpHide" class="form-group" style="margin-top: 0%;">

                            

                                <div class="col-md-12">
                                    
                                        <div class="col-md-2 content-box-header">{% trans "Name" %}</div>
                                        <div class="col-md-2 content-box-header" id="packages-data">{% trans "IP" %}</div>
                                        <div class="col-md-2 content-box-header" id="packages-data">{% trans "Username" %}</div>
                                        <div class="col-md-2 content-box-header" id="packages-data">{% trans "Padiv" %}</div>
                                        <div class="col-md-2 content-box-header" id="packages-data">{% trans "Port" %}</div>
                                        <div class="col-md-2 content-box-header" id="packages-data">{% trans "Delete" %}</div>
                                </div>   
                                    
                                    <div ng-repeat="record in records track by $index" class="panel col-md-12"
                                    style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;">
                                    <div>
                                        <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">
                                            <div class="col-md-12">
                                        <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.name"></div>
                                        <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.ip"></div>
                                        <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.username"></div>
                                        <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.padiv"></div>
                                        <div class="col-md-2 content-box-header" id="backup-data" ng-bind="record.port"></div>
                                        <div class="col-md-2 content-box-header" id="backup-data" ng-click="removeDestination('SFTP', record.name)"><img src="{% static 'images/delete.png' %}">
                                        </div>
                                    </div>
                                </div>

                                    </div>
                                
                                </div>
                        </div>

                        <!------ List of records --------------->


                        <!--- SFTP  End --->

                        <!--- AWS Start --->
                        
                        <form action="/" class="form-horizontal bordered-row">
            
                        <div class="example-box-wrapper form-horizontal bordered-row" style="margin-top: 2%;">
                        <div ng-hide="localHide" class="form-group">
                            <div class="col-md-12">
                            <label class="col-sm-3 control-label" style="text-align: end;">{% trans "Name" %}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="name" required>
                            </div>
                        <div class="col-md-3"></div>
                        </div>
                    </div>
                        <div ng-hide="localHide" class="form-group">
                            
                            <div class="col-md-12">
                            <label class="col-sm-3 control-label" style="text-align: end;">{% trans "Local Padiv" %}</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" ng-model="localPadiv" required>
                            </div>
                        <div class="col-md-3"></div>

                        </div>
                    </div>

                        <div ng-hide="localHide" class="form-group">
                            <div class="col-md-12">
                            <div class="col-md-4"></div>
                            <div class="col-sm-4">
                                <button type="button" ng-click="addDestination('local')"
                                        class="btn btn-primary btn-lg btn-block">{% trans "Add Destination" %}</button>

                            </div>
                        <div class="col-md-4"></div>
                    </div>
                

                        </div>
                        </div>
           
                   
                        <!--- SFTP --->
                    </form>



                        <!------ List of Destinations --------------->

                        <div ng-hide="localHide" class="form-group">

                            <div class="col-md-12">

                               
                                        <div class="col-md-4 content-box-header">{% trans "Name" %}</div>
                                        <div class="col-md-4 content-box-header" id="packages-data">{% trans "Padiv" %}</div>
                                        <div class="col-md-4 content-box-header" id="packages-data">{% trans "Delete" %}</div>
                                    </div>
                                    
                                    <div ng-repeat="record in records track by $index" class="panel col-md-12"
                                    style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;">
                                    <div>
                                        <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">
                                            <div class="col-md-12">
                                        <div ng-bind="record.name" class="col-md-4 content-box-header"></div>
                                        <div ng-bind="record.padiv" class="col-md-4 content-box-header" id="backup-data"></div>
                                        <div ng-click="removeDestination('local', record.name)"class="col-md-4 content-box-header" id="backup-data"><img src="{% static 'images/delete.png' %}">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        </div>


                        <!------ List of records --------------->


                        <!--- AWS  End --->


                    
                   

                       
        </div>
        
        



{% endblock %}