
{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Backup Website" %}{% endblock %}
{% block content %}

{% load static %}

{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->

<div class="container"></div>
<div id="page-title">
   <h2>{% trans "Backup Website" %} - <a  target="_blank" href="http://go.cyberpanel.net/backup" style="height: 23px;line-height: 21px;" class="btn btn-border btn-alt border-red btn-link font-red" title=""><span>{% trans "Backup Docs" %}</span></a></h2>
   <p>{% trans "divis page can be used to Backup your websites" %}</p>
</div>

<div ng-controller="backupWebsiteControl" class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            {% trans "Backup Website" %} <img ng-hide="backupLoading" src="{% static 'images/loading.gif' %}">
        </h3>
        <div  class="example-box-wrapper">

            <form  action="/" class="form-horizontal bordered-row">


                 <div class="form-group">
                    <label class="col-sm-3 control-label">{% trans "Select Website" %} </label>
                    <div class="col-sm-6">
                        <select id="create-backup-select" ng-model="websiteToBeBacked" class="form-control">
                            {% for items in websiteList %}
                                <option>{{ items }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group destinationHide">
                    <label class="col-sm-3 control-label">{% trans "Destination" %}</label>
                    <div class="col-sm-6">
                        <select ng-change="destinationSelection()" ng-model="backupDestinations" class="form-control">
                                <option>{% trans "Home" %}</option>
                        </select>
                    </div>
                </div>

            </div>
            <!---- if Backup is running ----->

            <div ng-hide="runningBackup" class="form-group">

                    <div  class="col-sm-12">

                        <table class="table">
                            <div>
                            <tr>
                                <div></div>
                                <div>{% trans "File Name" %}</div>
                                <div>{% trans "Status" %} <img ng-hide="backupLoadingBottom" src="{% static 'images/loading.gif' %}"></div>
                            </tr>
                            </div>
                            <tbody>
                            <tr>
                                <div>{% trans "Running" %}</div>
                                <div>{$ fileName $}</div>
                                <div style="color: red"><strong>{$ status $}</strong></div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            
            <!---- if Backup is running------>

            <div class="form-group destinationHide">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                         <button type="button" ng-click="createBackup()" class="btn btn-primary btn-lg btn-block">{% trans "Create Backup" %}</button>
                    </div>
            </div>

            <div ng-hide="cancelButton" class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                         <button type="button" ng-click="cancelBackup()" class="btn btn-primary btn-lg btn-block">{% trans "Cancel Backup" %}</button>
                    </div>
            </div>
        </div>

             <!------ List of records --------------->

                <div class="form-group" style="margin-top: 1%;">
                        <div class="col-md-12">                              
                                <div class="col-md-2 content-box-header">{% trans "ID" %}</div>
                                <div class="col-md-3 content-box-header" id="packages-data">{% trans "File" %}</div>
                                <div class="col-md-2 content-box-header" id="packages-data">{% trans "Date" %}</div>
                                <div class="col-md-2 content-box-header" id="packages-data">{% trans "Size" %}</div>
                                <div class="col-md-2 content-box-header" id="packages-data">{% trans "Status" %}</div>
                                <div class="col-md-1 content-box-header" >{% trans "Delete" %}</div>
                            
                            </div>
                        
                            <div ng-repeat="record in records track by $index" class="panel col-md-12"
                            style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;">
                                <div>
                                    <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">
                                        <div class="col-md-12">
                                <div class="col-md-2 content-box-header" ng-bind="record.id" id=""></div>
                                <div class="col-md-3 content-box-header" ng-bind="record.file" id="backup-data"></div>
                                <div class="col-md-2 content-box-header" ng-bind="record.date" id="backup-data"></div>
                                <div class="col-md-2 content-box-header" ng-bind="record.size" id="backup-data"></div>
                                <div class="col-md-2 content-box-header" ng-bind="record.status" id="backup-data"></div>
                                <a  class="col-md-1 content-box-header" href="" ><div ng-click="deleteBackup(record.id)" ><img src="{% static 'images/delete.png' %}"></div></a>
                            </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
                

            <!------ List of records --------------->


                <div class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-4">
                            <div id="websiteDeleteFailure" class="alert alert-danger">
                                        <p>{% trans "Cannot delete website, Error message:  " %}{$ errorMessage $}</p>
                            </div>

                            <div id="websiteDeleteSuccess" class="alert alert-success">
                                <p>Website <strong>{$ deletedWebsite $}</strong> {% trans "Successfully Deleted" %}</p>
                            </div>
                    </div>



                </div>


            </form>

        </div>

        
    






{% endblock %}