{% extends "baseTemplate/index.html" %}
{% load i18n %}
{% block title %}{% trans "Email Debugger - CyberPanel" %}{% endblock %}
{% block content %}

    {% load static %}
    {% get_current_language as LANGUAGE_CODE %}
    <!-- Current language: {{ LANGUAGE_CODE }} -->


    <div class="container">
    </div>
        <div id="page-title">
            <h2 id="domainNamePage">{% trans "Email Debugger" %}
            </h2>
            <p>{% trans "Email debugger to fix server-wide or website level email settings." %}</p>
        </div>

        <div ng-controller="EmailDebuuger" class="panel">
            <div class="panel-body">

                <h3 class="content-box-header">
                    {% trans "DEBUG EMAIL SERVER" %} <img
                        ng-hide="cyberpanelLoading" src="{% static 'images/loading.gif' %}">
                </h3>

                <div class="col-lg-3">
                    <button type="button" ng-click="RunServerLevelEmailChecks()"
                            class="btn btn-primary btn-lg btn-block">{% trans "Run Server Level Checks" %}
                        <img ng-hide="cyberpanelLoading" src="{% static 'images/loading.gif' %}"></button>
                </div>
                <div class="col-lg-5">
                    <button type="button" ng-click="ResetEmailConfigurations()"
                            class="btn btn-primary btn-lg btn-block">
                                <span>Reset Server wide Email Configurations  <img
                                        ng-hide="cyberpanelLoading" src="{% static 'images/loading.gif' %}"></span>
                    </button>
                </div>

                <div ng-hide="ExecutionStatus" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <h4 style="margin-top: 2%; margin-bottom: 2%"> {$ functionStatus $} <img
                                    ng-hide="cyberpanelLoading" src="{% static 'images/loading.gif' %}">
                            </h4>
                            <div class="progress">
                                <div ng-style="functionProgress"
                                     class="progress-bar progress-bar-striped bg-info"
                                     role="progressbar"
                                     aria-valuenow="50" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

                <div ng-hide="ReportStatus" class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="table-responsive-sm">
                                <table class="table table-centered mb-0">
                                    <div>
                                    <div>
                                        <div>Issue</div>
                                        <div>Status</div>
                                        <div>Actions</div>
                                    </div>
                                    </div>
                                    <div>
                                    <div>
                                        <div>Mail Server SSL</div>
                                        <div>{$ MailSSL $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank" href="#">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Issue Now
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 25</div>
                                        <div>{$ Port25 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 587</div>
                                        <div>{$ Port587 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 465</div>
                                        <div>{$ Port465 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 110</div>
                                        <div>{$ Port110 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 143</div>
                                        <div>{$ Port143 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 995</div>
                                        <div>{$ Port995 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <div>
                                        <div>Port 993</div>
                                        <div>{$ Port993 $}</div>
                                        <div>
                                            <a id="MailSSLURL" target="_blank"
                                               href="https://cyberpanel.net/blog/test-smtp-connection/?utm_source=cyberpanel&utm_medium=cyberpanel&utm_campaign=from-cyberpanel&utm_id=from-cyberpanel">
                                                <button data-toggle="modal" title="Manage CyberPanel" type="button"
                                                        class="btn btn-success">
                                                    Learn More
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    </div>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div>
        </div>

        <div ng-controller="emailDebuggerDomainLevel" class="">
            <div class="panel-body panel">
                <h3 class="content-box-header ">
                    {% trans "WEBSITE LEVEL EMAIL ISSUES" %} <img
                        ng-hide="cyberpanelLoading" src="{% static 'images/loading.gif' %}">
                </h3>

                <div class="col-md-12">
                    <div class="form-group mb-3">
                        <label for="example-select">Websites</label>
                        <select ng-model="websiteName" class="form-control" ng-change="debugEmailForSite()"
                                id="example-select">
                            {% for items in websiteList %}
                                <option>{{ items }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

                <div ng-hide="ReportStatus" class="row">
                    
                        <div class="form-group">
                            <!-- <div class="table-responsive-sm"> -->
                                <!-- <div class="table table-centered mb-0"> -->
                                    <div class="col-md-12 list-web">
                                    
                                    
                                        <div class="col-md-6 content-box-header" id="backup-data">Status</div>
                                        <div class="col-md-6 content-box-header" id="backup-data">Actions</div>
                                    
                                    
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>


                        <div class="panel col-md-12" 
                        style="padding: 0px; box-shadow: 0px 0px 1px 0px #888888;">
                        <div class="table-responsive no-gutter text-nowrap" style="overflow-x: hidden;">
                                        <div class="col-md-6 content-box-header" id="database-data">{$ message $}</div>
                                        <div class="col-md-6 content-box-header" id="database-data">
                                            <button ng-click="fixMailSSL()" ng-disabled='status==1' data-toggle="modal"
                                                    title="Manage CyberPanel" type="button"
                                                    class="btn btn-primary">
                                                Fix Now
                                            </button>
                                            <button ng-click="fixMailSSL()" data-toggle="modal"
                                                    title="Manage CyberPanel" type="button"
                                                    class="btn btn-primary">
                                                Force Fix
                                            </button>
                                        </div>
                                    </div>
                                    </div>

                                </div>
                            </div>



{% endblock %}